{% extends 'base/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Ad Create (вкладка в браузере)
{% endblock title %}

{% block content %}
<h1>Редактирование/создание Объявления</h1>
<hr>
{% if user.id %}
      <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
      </form>
      <hr>
      <hr>
      <a href="{% url 'ads_list' %}">К списку объявлений</a>
{% else %}<p style="color: red">Нет ID Автора.</p>
{% if user.id == 1 %}
      <h2 style="color: red">Товарищ Администратор, пользуйся, пожалуйста, своей админ-панелью.</h2>{% endif %}
{% endif %}
{% endblock content %}