{% extends 'base/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Response Create (вкладка в браузере)
{% endblock title %}

{% block content %}
<h1>Редактирование/создание Отклика</h1>
<hr>
{% if user.id %}
      <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
      </form>
      <hr>
      <hr>
      <a href="{% url 'responses_list' %}">К списку ??? откликов или на само объявление?</a>
{% else %}<p style="color: red">Нет ID Автора.</p>
{% if user.username == "Admin" %}
      <h2 style="color: red">Товарищ Администратор, пользуйся, пожалуйста, своей админ-панелью.</h2>{% endif %}
{% endif %}
{% endblock content %}