{% extends 'base/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Responses (вкладка в браузере)
{% endblock title %}

{% block content %}
<p style="color:#ff0000">Begin template responses.html</p>
<p>Все отклики
(всего: {{ responses.count }})</p>
<!-- Нету идеи как отклики выводить... Выбор способа в форме? -->

{% if user.is_active %}
<p>
    <b>Вам доступно: читать
        {% if perms.bboard.add_response %}
        ,  создавать
        {% endif %}
        {% if perms.bboard.edit_response %}
        ,  редактировать
        {% endif %}
        {% if perms.bboard.delete_response %}
        ,  удалять
        {% endif %}
        объявления
    </b>
</p>

    {% if responses %}
        <table>
           <tr style="text-align: center;">
               <td>Индекс</td>
               <td>Author</td>
               <td>Title</td>
               <td>Category</td>
               <td>Pub_time</td>
               <td>Editing time</td>
               <td>Responses</td>
               <td>Actions</td>
           </tr>
           {% for response in responses %}
            <!-- Если установлен флаг hidden (=True), то показывать только авторам объявления и отклика!!! -->
           <tr style="text-align: center;">
               <td>{{ response.id }}</td>
               <td>{{ response.author }}</td>
               <td>{{ response.title|truncatechars:15 }}</td>
               <td>{{ response.category }}</td>
               <td>{{ response.creation_date|date:'Y-m-d / H:i:s' }}</td>
               <td>{{ response.last_edit_date|date:'Y-m-d / H:i:s' }}</td>
               <td>{{ response.response_ad }}</td>
               <td><a href="{{response.id}}">View</a></td>
           </tr>
           {% endfor %}
        </table>
    {% else %}
       <h2>Нету откликов</h2>
    {% endif %}

{% else %}
Страница доступна только авторизованным пользователям
{% endif %}

<p style="color:#ff0000">End template responses.html</p>
{% endblock content %}
